div {
    max-width: 1024px;
    margin: 0 auto;
}

section {
    width: 73%;
    float: left;
}

aside {
    width: 23%;
    float: left;
}
article {
    clear: both;
    border-bottom: dashed gray 1px;
}

article img { 
    float: left;
    max-width: 200px;
    max-width: 200px;
    margin-right: 10px;
    border-bottom: solid white 1px;
}

aside img {
    margin-left: 10px;
    max-height: 200px;
    max-width: 200px;
}